.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px;
  gap: 20px;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  list-style-type: none;
}

.cart > button {
  font-size: 1.4rem;
  width: 80px;
  height: 40px;
  cursor: pointer;
  background-color: #ffdf6d;
  border-radius: 5px;
}

.cart--total {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 43px;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #B07C30;
}